@font-face {
    font-family: 'open sans';
    src: url(images/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: rgb(53,56,62);
    font-family: 'open sans';
    margin: 0;
    color: rgb(181,186,193);
}
header{
    background-color: rgb(30,31,34);
    margin: 0;
    padding: 2%;
}
header img{
    width: 50px;
    height: auto;
}
#menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    margin: 0;
}
#menu a{
    text-decoration: none;
}
.logo-discord-menu{
    width: 75px;
}
#presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.presentation-apps img{
    width: 250px;
    height: auto;
    transition: transform 2s;
}
.presentation-apps{
    display: flex;
    align-items: center;
    align-content: center;
    
}
#presentation-discord{
    background-color: rgb(88,101,242);
}
#presentation-spotify{
    background-color: black;
}
#presentation-reddit{
    background-color: rgb(255,64,24);
}
.texte-apps{
    opacity: 0;
    transition: opacity 0.5s;
}
.presentation-apps:hover .texte-apps{
    opacity: 1;
}
.presentation-apps:hover img{
    transform: rotate(360deg);
}
.paragraphe-apps{
    padding: 5%;
}
h1{
    text-align: center;
}
footer{
    background-color: rgb(30,31,34);
    margin: 0;
    padding: 2%;
}
footer img{
    width: 50px;
    height: auto;
}
#menu-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#page-discord{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.border{
    width: 13%;
}
.discord{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3%;
    align-items: center;
    justify-items: center;
}
#photo-page-discord{
    width: 250px;
    height: auto;
}
a{
    color: inherit;
}
.paragraphe-discord{
    margin: 5%;
}
#body-reddit{
    background-color: RGB(218 224 230);
    color: black;
}
#header-reddit{
    background-color: white;
}
#footer-reddit{
    background-color: white;
}
#page-reddit{
    margin: 0 30%;
}
.paragraphes-reddit h2 p{
    margin: 0;
}
.paragraphes-reddit{
    display: flex;
    align-items: flex-start;
    margin: 2%;
    background-color: white;
}
.upvotes{
    margin: 0 1%;
}
.upvotes img{
    border-radius: 10px;
}
#lien-reddit{
    width: 100%;
    height: auto;
}
#body-spotify{
    background-color: black;
}
#header-spotify{
   background-color: rgb(18,18,18);
}
#footer-spotify{
    background-color: rgb(18,18,18);
}
footer li{
    margin: 1%;
}
#main-spotify{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
}
.paragraphes-spotify{
    background-color: RGB(18 18 18);
    margin: 3%;
    border-radius: 15px;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#download-icon{
    width: 30%;
}
#principale-spotify{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#logo-spotify{
    width: 70%;
}
